<!DOCTYPE html>

<html>

<head>
    <title>Xhi3r Shop</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='img/xhier-icon.png') }}" rel="icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Single+Day&display=swap"
        rel="stylesheet">

    <!-- Assets -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- CSS main -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

<body>
    <!--  Header -->
    <section id="topbar" class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a
                        href="mailto:valorantrama9.1@gmail.com">valorantrama9.1@gmail.com</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>+6665 624 1293</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="https://twitter.com/Xhi3r" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100015127746814" class="facebook" target="_blank"><i
                        class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/tng.aj/" class="instagram" target="_blank"><i
                        class="bi bi-instagram"></i></a>

            </div>
        </div>
    </section>

    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="{{ url_for('index')}}" class="logo d-flex align-items-center">
                <h1>Xhi3r shop<span>.</span></h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul class="nav_ul">
                    <li><a href="#main-top">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#market">Market</a></li>
                    <li><a href="#course">Course</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#posts">Blog</a></li>
                    <li><a href="#faq">Faq</a></li>
                    <li><a href="#contact">Contact</a></li>
                    {% if current_user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ current_user.name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('profile') }}">Profile</a></li>
                            <li><a href="{{ url_for('edit_profile') }}">Edit Profile</a></li>
                            <li><a href="{{ url_for('my_course') }}">My Course</a></li>
                            <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}"><span>Login</span></a></li>
                    {% endif %}
                </ul>
            </nav>
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        </div>
    </header>



    <!-- main top -->

    <section id="main-top" class="main-top">
        <div class="container position-relative">
            <div class="row gy-5" data-aos="fade-in">
                <div
                    class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                    <h2>Welcome Xhi3r <span>Website</span></h2>
                    <p>ชั้นคือ Xhi3r(ฉีเออร์) มหาเทพสงครามผู้มากประสบการณ์สำหรับเกมหมา พร้อมบริการทุกท่านแล้ว</p>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="#about" class="btn-get-started">เข้าชมเว็บไซต์</a>
                        <a href="https://youtu.be/46eutLeVVjM"
                            class="glightbox btn-watch-video d-flex align-items-center">
                            <i class="bi bi-play-circle"></i><span>ตัวอย่างความโหด</span></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="{{ url_for('static', filename='img/main.png') }} " class="img-fluid" alt=""
                        data-aos="zoom-out" data-aos-delay="100">
                </div>
            </div>
        </div>
    </section>

    <!-- end main top-->

    <main id="main">

        <!-- about me -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>About Xhi3r</h2>
                    <p>I am the best who can make every pro player made they dream to real, pls contact me > i can help
                        u to out the shit rank</p>
                </div>

                <div class="row gy-4">
                    <div class="col-lg-6">
                        <h3>The best player in the world is <span>ME ?</span></h3>
                        <img src="{{ url_for('static', filename='img/good.png') }}" class="img-fluid mb-4">
                    </div>
                    <div class="col-lg-6">
                        <div class="content ps-0 ps-lg-5">
                            <p class="fst-italic">
                                ฉันชื่อว่า Xhi3r หรือ จุดสูงสุด ของพื้นที่ลุ่มแม่น้ำโขง ผมมีประสบการณ์มากมายในการเล่นเกม
                                Valorant กว่า 3 ปี .
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circle-fill"></i> ประสบการณ์เล่นเล่น Valorant กว่า 3 ปี เต็ม
                                    ไม่มีเกิน เพราะขาดหมด</li>
                                <li><i class="bi bi-check-circle-fill"></i> รู้ทุกสิ่งภายในเกม และแม่มึงด้วย</li>
                                <li><i class="bi bi-check-circle-fill"></i> เขิน ขอเก็บไว้เป็นความลับ</li>
                            </ul>

                            <div class="position-relative mt-4">
                                <img src="{{ url_for('static', filename='img/good.png') }}" class="img-fluid rounded-4"
                                    alt="">
                                <a href="https://www.youtube.com/watch?v=3ek1NmZzhVU&ab_channel=TZMCuberTongzamate"
                                    class="glightbox play-btn"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!--end about-->


        <!--clients-->
        <section id="clients" class="clients">
            <div class="container" data-aos="zoom-out">

                <div class="clients-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/clients/ss.png') }} "
                                class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/xhier-icon.png') }} "
                                class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/clients/coma.png') }} "
                                class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/xhier-icon.png') }} "
                                class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/clients/xhi3r.png') }} "
                                class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/xhier-icon.png') }} "
                                class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/clients/ss.png') }} "
                                class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/xhier-icon.png') }} "
                                class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
        </section>

        <!-- review -->
        <section id="review" class="review">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Review Real !</h2>
                    <p>นี่คือส่วนหนึ่งของโปรเพลย์เยอร์ ที่ได้ใช้งานคอร์สของผมนะครับอ้วน</p>
                </div>

                <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="review-wrap">
                                <div class="review-item">
                                    <div class="d-flex align-items-center">
                                        <img src="{{ url_for('static', filename='img/reviews/review_1.png') }}"
                                            class="review-img flex-shrink-0" alt="">
                                        <div>
                                            <h3>SEN TonZ</h3>
                                            <h4>Pro player from Sentinels</h4>
                                            <div class="stars">
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        นี่คือ the best of <strong>Coach</strong>
                                        ฉันรู้สึกถึงพลังที่หลับไหลของฉันหลังจากที่ท่านมหาเทพ Xhi3r
                                        ได้ดึงจิตวิญญาณแห่งเทพสงครามขึ้นมา ทำให้ฉัน ราชาวาโลของ Na กลับมาผงาดอีกครั้ง
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="review-wrap">
                                <div class="review-item">
                                    <div class="d-flex align-items-center">
                                        <img src="{{ url_for('static', filename='img/reviews/review_2.jpg') }}"
                                            class="review-img flex-shrink-0" alt="">
                                        <div>
                                            <h3>Demon1</h3>
                                            <h4>Pro player from NRG</h4>
                                            <div class="stars">
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        นี่คือ the best of <strong>Coach</strong>
                                        ฉันรู้สึกถึงพลังที่หลับไหลของฉันหลังจากที่ท่านมหาเทพ Xhi3r
                                        ได้ดึงจิตวิญญาณแห่งเทพสงครามขึ้นมา ทำให้ฉัน ราชาวาโลของ Na กลับมาผงาดอีกครั้ง
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="review-wrap">
                                <div class="review-item">
                                    <div class="d-flex align-items-center">
                                        <img src="{{ url_for('static', filename='img/reviews/review_3.jpg') }}"
                                            class="review-img flex-shrink-0" alt="">
                                        <div>
                                            <h3>Johnolsean</h3>
                                            <h4>Pro player from FS</h4>
                                            <div class="stars">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        นี่คือ the best of <strong>Coach</strong>
                                        ฉันรู้สึกถึงพลังที่หลับไหลของฉันหลังจากที่ท่านมหาเทพ Xhi3r
                                        ได้ดึงจิตวิญญาณแห่งเทพสงครามขึ้นมา ทำให้ฉัน ราชาวาโลของ Na กลับมาผงาดอีกครั้ง
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="review-wrap">
                                <div class="review-item">
                                    <div class="d-flex align-items-center">
                                        <img src="{{ url_for('static', filename='img/reviews/review_4.jpg') }}"
                                            class="review-img flex-shrink-0" alt="">
                                        <div>
                                            <h3>SuperbusSy</h3>
                                            <h4>Nug Bid</h4>
                                            <div class="stars">
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        นี่คือ the best of <strong>Coach</strong>
                                        ฉันรู้สึกถึงพลังที่หลับไหลของฉันหลังจากที่ท่านมหาเทพ Xhi3r
                                        ได้ดึงจิตวิญญาณแห่งเทพสงครามขึ้นมา ทำให้ฉัน ราชาวาโลของ Na กลับมาผงาดอีกครั้ง
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>


        <!-- course -->
        <section id="course" class="course">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2><strong> Special Course !!!</strong></h2>
                    <p>นี่คือคอร์สสำหรับเจริญสมอง พวกท่านทุกคนควรหาซักแพคเกจที่ต้องการ เพื่อให้สุขภาพชี่วิตของท่านดีขึ้น
                        มั้ง</p>
                </div>
                <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

                    <div class="col-lg-4"> <!--course 1-->
                        <div class="course-item">
                            <h3>ฟรีนะครับเธอ</h3>
                            <div class="icon">
                                <i class="bi bi-box"></i>
                            </div>
                            <h4>0<sup>บาท</sup><span> / เดือน</span></h4>
                            <ul>
                                <li><i class="bi bi-check"></i> คลิปความโหดของน้องตอง</li>
                                <li><i class="bi bi-check"></i> ไลน์อัพ ตัวละครต่างๆ, การยืนมุมเบื้องต้น</li>
                                <li class="na"><i class="bi bi-x"></i> <span>คุยปรึกษาส่วนตัว</span></li>
                                <li class="na"><i class="bi bi-x"></i> <span>การใช้เซนส์เกม แบบละเอียด</span></li>
                                <li class="na"><i class="bi bi-x"></i> <span>การทำเกม movement
                                        และการโยนที่โครตเท่ห์</span></li>
                                <li class="na"><i class="bi bi-x"></i> <span>onlyfans</span></li>
                            </ul>
                            <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                        </div>
                    </div>

                    <div class="col-lg-4"> <!--course 1-->
                        <div class="course-item">
                            <h3>ออกจากความโง่</h3>
                            <div class="icon">
                                <i class="bi bi-box"></i>
                            </div>
                            <h4>99<sup>บาท</sup><span> / เดือน</span></h4>
                            <ul>
                                <li><i class="bi bi-check"></i> คลิปความโหดของน้องตอง</li>
                                <li><i class="bi bi-check"></i> คุยปรึกษาส่วนตัว</li>
                                <li><i class="bi bi-check"></i> ไลน์อัพ ตัวละครต่างๆ, การยืนมุมเบื้องต้น</li>
                                <li><i class="bi bi-check"></i> การใช้เซนส์เกม แบบละเอียด</li>
                                <li><i class="bi bi-check"></i> การทำเกม movement และการโยนที่โครตเท่ห์</li>
                                <li class="na"><i class="bi bi-x"></i> <span>onlyfans premium</span></li>
                            </ul>
                            <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                        </div>
                    </div>

                    <div class="col-lg-4"> <!--course 1-->
                        <div class="course-item">
                            <h3>เข้าสู่จุดสูงสุดของวงการ Toxic</h3>
                            <div class="icon">
                                <i class="bi bi-box"></i>
                            </div>
                            <h4>299<sup>บาท</sup><span> / เดือน</span></h4>
                            <ul>
                                <li><i class="bi bi-check"></i> คลิปความโหดของน้องตอง</li>
                                <li><i class="bi bi-check"></i> คุยปรึกษาส่วนตัว</li>
                                <li><i class="bi bi-check"></i> ไลน์อัพ ตัวละครต่างๆ, การยืนมุมเบื้องต้น</li>
                                <li><i class="bi bi-check"></i> การใช้เซนส์เกม แบบละเอียด</li>
                                <li><i class="bi bi-check"></i> การทำเกม มูฟเม้นต์ และการโยนที่โครตเท่ห์</li>
                                <li><i class="bi bi-check"></i> <span> แอดเพื่อนในเกม + ดิสคอร์ดส่วนตัว</span></li>
                                <li><i class="bi bi-check"></i> <strong> o n l y f a n s <span>.</span> p r e m i u
                                        m</strong></li>
                            </ul>
                            <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- market -->

        <section id="market" class="market">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2>สินค้า</h2>
                    <p>รายการสินค้าของมหาเทพตอง</p>
                </div>
                <div class="market-isotope" data-market-filter="*" data-market-layout="masonry"
                    data-market-sort="original-order" data-aos="fade-up" data-aos-delay="100">

                    <div class="row gy-4 market-container">
                        <div class="col-xl-4 col-md-6 market-item filter-product">
                            <div class="market-wrap">
                                <a href="{{ url_for('market_1') }}""
                                    class=" glightbox"><img
                                        src="{{ url_for('static', filename='img/market/product-1.jpg') }}"
                                        class="img-fluid" alt=""></a>
                                <div class="market-info">
                                    <h4><a href="{{ url_for('market_1') }}" title="More Details">VGN F1 MOBA, Xhi3r
                                            license</a></h4>
                                    <p>เมาส์ยอดฮิต ราคาประหยัด <strong>แถมลายเซ็น Xhi3r</strong></p>
                                </div>
                            </div>
                        </div><!-- End market Item -->
                        <div class="col-xl-4 col-md-6 market-item filter-product">
                            <div class="market-wrap">
                                <a href="{{ url_for('market_2') }}" class="glightbox"><img
                                        src="{{ url_for('static', filename='img/market/product-2.jpg') }}"
                                        class="img-fluid" alt=""></a>
                                <div class="market-info">
                                    <h4><a href="{{ url_for('market_2') }}" title="More Details">RK61 Hot-Swap</a></h4>
                                    <p>คีย์บอร์โสุดโหด นัมเบอร์โหด นัมเบอร์ตึง พร้อมลายเซ็น จาก <strong>Xhi3r</strong>
                                    </p>
                                </div>
                            </div>
                        </div><!-- End market Item -->

                        <div class="col-xl-4 col-md-6 market-item filter-product">
                            <div class="market-wrap">
                                <a href="{{ url_for('market_3') }}" class="glightbox"><img
                                        src="{{ url_for('static', filename='img/market/product-3.jpg') }}"
                                        class="img-fluid" alt=""></a>
                                <div class="market-info">
                                    <h4><a href="{{ url_for('market_3') }}" title="More Details">เก้าอี้สุดโหด
                                            จากเทพสงความมาลี</a></h4>
                                    <p>เก้าอี้ที่จะนำคุณสู่การเป็นเทพสงครามที่แท้จริง พร้อมระบบโยกเยกเมื่อคุณขยับตัว
                                        และยังทำให้คุณปัดขวาเพื่อหวังผลได้ดียิ่งขึ้น</p>
                                </div>
                            </div>
                        </div><!-- End market Item -->
                    </div>
                </div>
        </section>



        <!-- blog -->
        <section id="posts" class="posts sections-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2><strong> Blog </strong></h2>
                    <p>นี่คือ blog posts ของ admin ที่ได้เพิ่มเเอาไว้ให้เด็กน้อย อ่าน มาอ่านด้วยแม้งงง</p>
                </div>
                <div class="row gy-4">

                    <div class="col-xl-4 col-md-6">
                        <article>

                            <div class="post-img">
                                <img src="{{ url_for('static', filename='img/blog/blog1/blog-main1.png') }}" alt="" class="img-fluid">
                            </div>

                            <p class="post-category">Aim</p>

                            <h2 class="title">
                                <a href="{{ url_for('blog') }}">How to improve aim to be better !!!</a>
                            </h2>

                            <div class="d-flex align-items-center">
                                <img src="{{ url_for('static', filename='img/blog/blog1/blog-main1.png') }}" alt=""
                                    class="img-fluid post-author-img flex-shrink-0">
                                <div class="post-meta">
                                    <p class="post-author">Demon2</p>
                                    <p class="post-date">
                                        <time datetime="2077-01-10">Jan 10, 2077</time>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <article>

                            <div class="post-img">
                                <img src="{{ url_for('static', filename='img/blog/blog2/blog-main2.png') }}" alt="" class="img-fluid">
                            </div>

                            <p class="post-category">Rank</p>

                            <h2 class="title">
                                <a href="{{ url_for('blog2') }}">ทำไมแรงค์ถึงขึ้นยาก ? hard stuck ?</a>
                            </h2>

                            <div class="d-flex align-items-center">
                                <img src="{{ url_for('static', filename='img/blog/blog2/blog-main2.png') }}" alt=""
                                    class="img-fluid post-author-img flex-shrink-0">
                                <div class="post-meta">
                                    <p class="post-author">Baby Xhi3e</p>
                                    <p class="post-date">
                                        <time datetime="2022-01-01">Fab 29, 2077</time>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <article>

                            <div class="post-img">
                                <img src="{{ url_for('static', filename='img/blog/blog3/blog-main3.png') }}" alt="" class="img-fluid">
                            </div>

                            <p class="post-category">Brain</p>

                            <h2 class="title">
                                <a href="{{ url_for('blog3') }}">วิธีพัฒนา mindset ที่จะทำให้ทุกคนก้าวหน้าขึ้น</a>
                            </h2>

                            <div class="d-flex align-items-center">
                                <img src="{{ url_for('static', filename='img/blog/blog3/blog-main3.png') }}" alt=""
                                    class="img-fluid post-author-img flex-shrink-0">
                                <div class="post-meta">
                                    <p class="post-author">Boasty</p>
                                    <p class="post-date">
                                        <time datetime="2022-01-01">Dec 24, 2075</time>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
        </section>

        <!-- q&a -->
        <section id="faq" class="faq">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4">

                    <div class="col-lg-4">
                        <div class="content px-xl-5">
                            <h3><strong>คำถามโง่ๆ</strong> บวกสาระนิดหน่อย</h3>
                        </div>
                    </div>

                    <div class="col-lg-8">

                        <div class="q_a q_a-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

                            <div class="q_a-item">
                                <h3 class="q_a-header">
                                    <button class="q_a-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-1">
                                        <span class="num">1.</span>
                                        อยากเก่งแบบพี่ทำไงครับ ?
                                    </button>
                                </h3>
                                <div id="faq-content-1" class="q_a-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="q_a-body">
                                        เป็นไปไม่ได้ครับ no.1 มีแค่คนเดียว
                                    </div>
                                </div>

                                <div class="q_a-item">
                                    <h3 class="q_a-header">
                                        <button class="q_a-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#faq-content-2">
                                            <span class="num">2.</span>
                                            คอร์สมีสอนอะไรบ้าง ?
                                        </button>
                                    </h3>
                                    <div id="faq-content-2" class="q_a-collapse collapse" data-bs-parent="#faqlist">
                                        <div class="q_a-body">
                                            สอนยังไง พวกมึงก็ควายเหมือนเดิม
                                        </div>
                                    </div>
                                </div>

                                <div class="q_a-item">
                                    <h3 class="q_a-header">
                                        <button class="q_a-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#faq-content-3">
                                            <span class="num">3.</span>
                                            คอร์สมีสอนอะไรบ้าง ?
                                        </button>
                                    </h3>
                                    <div id="faq-content-3" class="q_a-collapse collapse" data-bs-parent="#faqlist">
                                        <div class="q_a-body">
                                            สอนยังไง พวกมึงก็ควายเหมือนเดิม
                                        </div>
                                    </div>
                                </div>

                                <div class="q_a-item">
                                    <h3 class="q_a-header">
                                        <button class="q_a-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#faq-content-4">
                                            <span class="num">4.</span>
                                            คอร์สมีสอนอะไรบ้าง ?
                                        </button>
                                    </h3>
                                    <div id="faq-content-4" class="q_a-collapse collapse" data-bs-parent="#faqlist">
                                        <div class="q_a-body">
                                            สอนยังไง พวกมึงก็ควายเหมือนเดิม
                                        </div>
                                    </div>
                                </div>

                                <div class="q_a-item">
                                    <h3 class="q_a-header">
                                        <button class="q_a-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#faq-content-5">
                                            <span class="num">5.</span>
                                            คอร์สมีสอนอะไรบ้าง ?
                                        </button>
                                    </h3>
                                    <div id="faq-content-5" class="q_a-collapse collapse" data-bs-parent="#faqlist">
                                        <div class="q_a-body">
                                            สอนยังไง พวกมึงก็ควายเหมือนเดิม
                                        </div>
                                    </div>
                                </div>

                                <div class="q_a-item">
                                    <h3 class="q_a-header">
                                        <button class="q_a-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#faq-content-6">
                                            <span class="num">6.</span>
                                            คอร์สมีสอนอะไรบ้าง ?
                                        </button>
                                    </h3>
                                    <div id="faq-content-6" class="q_a-collapse collapse" data-bs-parent="#faqlist">
                                        <div class="q_a-body">
                                            สอนยังไง พวกมึงก็ควายเหมือนเดิม
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- # Faq item-->

        <!-- team-->
        <section id="team" class="team">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2><strong> Team </strong></h2>
                    <h3>นี่คือเหล่าผู้กล้า ที่จะพาทุกคนออกจากความโง่และดักดาน จงสรรเสริญพวกเขาซะ</h3>
                </div>
                <div class="row gy-4">
                    <div class="col-xl-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                            <img src="{{ url_for('static', filename='img/team/team-1.jpg') }}" class="img-fluid" alt="">
                            <h4>Baby Xhier</h4>
                            <span>Web Development</span>

                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                            <img src="{{ url_for('static', filename='img/team/team-2.jpg') }}" class="img-fluid" alt="">
                            <h4>Sek Orderheart</h4>
                            <span>Marketing</span>

                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                            <img src="{{ url_for('static', filename='img/team/team-3.jpg') }}" class="img-fluid" alt="">
                            <h4>Park Hyeon Tong</h4>
                            <span>Designer</span>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!-- footer -->
    <section id="footer" class="footer">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <span>Xhi3r</span>
                    </a>
                    <p>ที่สุดของความโหดมาจากชายผู้นี้ <strong>Xhi3r</strong> ez ez noob team</p>
                    <div class="social-links d-flex mt-4">
                        <a href="https://twitter.com/Xhi3r" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100015127746814" class="facebook"><i
                                class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/tng.aj/" class="instagram"><i
                                class="bi bi-instagram"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Links</h4>
                    <ul>
                        <li><a href="{{ url_for('index')}}">Home</a></li>
                        <li><a href="#about">About </a></li>
                        <li><a href="#marker">Market</a></li>
                        <li><a href="#course">Course</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>


                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start ">
                    <h4>Contact </h4>
                    <p>
                        <strong>Phone : </strong>+66 65 624 1293<br>
                    <h6><strong>Email : </strong><a
                            href="mailto:valorantrama9.1@gmail.com">valorantrama9.1@gmail.com</a></h6>
                    </p>

                </div>

            </div>
        </div>
    </section>

    <!--arrow up to top-->
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>


    <!-- js -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>