<!DOCTYPE html>

<html>
<head>
    <link href="../assets/static/img/xhier-icon.png" rel="icon">

    <!-- Gg Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- assets -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- CSS main -->
    <link href="../assets/css/style.css" rel="stylesheet">
</head>

<body>
    <!--  Header -->
    <section id="topbar" class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:valorantrama9.1@gmail.com">valorantrama9.1@gmail.com</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>+6665 624 1293</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="https://twitter.com/Xhi3r" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100015127746814" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/tng.aj/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
        
            </div>
        </div>
    </section>

    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <h1>Xhi3r shop<span>.</span></h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="#hero">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Market</a></li>
                    <li><a href="#portfolio">Course</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
            <i class="mobile-nav-togle mobile-nav-show"></i>
            <i class="mobile-nav-togle mobile-nav-hide"></i>
        </div>
    </header>



<!-- main top -->

    <section id="intro" class="intro">
            <div class="container position-relative">
                <div class="row gy-5 aos-init aos-animate" data-aos="fade-in">
                    <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                        <h2>Welocme to <span>Xhi3r Shop</span></h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod rerum delectus molestias nulla voluptatibus tempora est obcaecati expedita ipsa quam corrupti quae, totam, alias velit provident illo. Animi, vitae iste?</p>
                        <div class="d-flex justify-content-center justify-content-lg-start">
                            <a href="#about" class="btn-get-start">To Site</a>
                            <a href="https://www.youtube.com/watch?v=RIXni4sZaA4" class="glightbox"><i class="bi bi-play-circle"><span>Watch God Video</span></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2">
                        <img src="../assets/static/img/good.png" class="img-fluid" data-aos="zoom-out" data-aos-delay="100">
                    </div>
                </div>
            </div>
    </section>

<!-- end main top-->

    <main id="main">

        <!-- about me -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2>About Xhi3r</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi repellat nihil illum hic nam voluptas iste ullam a quam ratione.</p>
                </div>

                <div class="row gy-4">
                    <div class="col-lg-6">
                        <h3>The best player in the world is <span>ME ?</span></h3>
                        <img src="../assets/static/img/good.png" class="img-fluid mb-4">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi neque eveniet eligendi esse accusantium veniam deserunt corporis accusamus facilis perferendis.</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio architecto eum ab sed libero impedit ratione amet odit est tenetur.</p>
                    </div>
                    .
                </div>
            </div>
        </section>


        <!--clients-->
        <section id="clients" class="clients">

        </section>

        <!-- review -->
        <section id="review" class="review">

        </section>



        <!-- market -->

        <section id="market" class="market">

        </section>



        <!-- team-->
        <section id="team" class="team">

        </section>



        <!-- course -->
        <section id="course" class="course">

        </section>



        <!-- q&a -->
        <section id="faq" class="faq">

        </section>



        <!-- blog -->
        <section id="posts" class="posts sections-bg">

        </section>



        <!-- contact -->
            <section id="contact" class="contact">
            
            </section>


        </main>
<!-- end main-->

<!-- footer -->
    <section id="footer" class="footer">
        
        
    </section>

<!--arrow up to top-->
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<!-- js -->
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>

    <script src="../assets/js/main.js"></script>


</body>
</html>

