<!DOCTYPE html>

<html>

<head>
    <title>Xhi3r Shop</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='img/xhier-icon.png') }}" rel="icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Assets -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- CSS main -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

<body>
    <!--  Header -->
    <section id="topbar" class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a
                        href="mailto:valorantrama9.1@gmail.com">valorantrama9.1@gmail.com</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>+6665 624 1293</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="https://twitter.com/Xhi3r" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100015127746814" class="facebook" target="_blank"><i
                        class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/tng.aj/" class="instagram" target="_blank"><i
                        class="bi bi-instagram"></i></a>

            </div>
        </div>
    </section>

    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="{{ url_for('index')}}" class="logo d-flex align-items-center">
                <h1>Xhi3r shop<span>.</span></h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="{{ url_for('index')}}">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Market</a></li>
                    <li><a href="#portfolio">Course</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="{{ url_for('login') }}"><span>Login</span></a></li>
                </ul>
            </nav>
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>



        </div>
    </header>



    <!-- main top -->

    <section id="main-top" class="main-top">
        <div class="container position-relative">
            <div class="row gy-5" data-aos="fade-in">
                <div
                    class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                    <h2>Welcome Xhi3r <span>Website</span></h2>
                    <p>ชั้นคือ Xhi3r(ฉีเออร์) มหาเทพสงครามผู้มากประสบการณ์สำหรับเกมหมา พร้อมบริการทุกท่านแล้ว</p>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="#about" class="btn-get-started">เข้าชมเว็บไซต์</a>
                        <a href="https://youtu.be/46eutLeVVjM"
                            class="glightbox btn-watch-video d-flex align-items-center">
                            <i class="bi bi-play-circle"></i><span>ตัวอย่างความโหด</span></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="{{ url_for('static', filename='img/main.png') }} " class="img-fluid" alt=""
                        data-aos="zoom-out" data-aos-delay="100">
                </div>
            </div>
        </div>
    </section>

    <!-- end main top-->

    <main id="main">

        <!-- about me -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>About Xhi3r</h2>
                    <p>I am the best who can make every pro player made they dream to real, pls contact me > i can help
                        u to out the shit rank</p>
                </div>

                <div class="row gy-4">
                    <div class="col-lg-6">
                        <h3>The best player in the world is <span>ME ?</span></h3>
                        <img src="{{ url_for('static', filename='img/good.png') }}" class="img-fluid mb-4">
                    </div>
                    <div class="col-lg-6">
                        <div class="content ps-0 ps-lg-5">
                            <p class="fst-italic">
                                ฉันชื่อว่า Xhi3r หรือ จุดสูงสุด ของพื้นที่ลุ่มแม่น้ำโขง ผมมีประสบการณ์มากมายในการเล่นเกม
                                Valorant กว่า 3 ปี .
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circle-fill"></i> ประสบการณ์เล่นเล่น Valorant กว่า 3 ปี เต็ม
                                    ไม่มีเกิน เพราะขาดหมด</li>
                                <li><i class="bi bi-check-circle-fill"></i> รู้ทุกสิ่งภายในเกม และแม่มึงด้วย</li>
                                <li><i class="bi bi-check-circle-fill"></i> เขิน ขอเก็บไว้เป็นความลับ</li>
                            </ul>

                            <div class="position-relative mt-4">
                                <img src="{{ url_for('static', filename='img/good.png') }}" class="img-fluid rounded-4"
                                    alt="">
                                <a href="https://www.youtube.com/watch?v=3ek1NmZzhVU&ab_channel=TZMCuberTongzamate"
                                    class="glightbox play-btn"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!--end about-->


        <!--clients-->
        <section id="clients" class="clients">
            <div class="container" data-aos="zoom-out">

                <div class="clients-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/xhier-icon.png') }} "
                                class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/xhier-icon.png') }} "
                                class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/xhier-icon.png') }} "
                                class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/xhier-icon.png') }} "
                                class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/xhier-icon.png') }} "
                                class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/xhier-icon.png') }} "
                                class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/xhier-icon.png') }} "
                                class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/xhier-icon.png') }} "
                                class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
        </section>

        <!-- review -->
        <section id="review" class="review">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Review Real !</h2>
                    <p>นี่คือส่วนหนึ่งของโปรเพลย์เยอร์ ที่ได้ใช้งานคอร์สของผมนะครับอ้วน</p>
                </div>

                <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="review-wrap">
                                <div class="review-item">
                                    <div class="d-flex align-items-center">
                                        <img src="{{ url_for('static', filename='img/reviews/review_1.png') }}"
                                            class="review-img flex-shrink-0" alt="">
                                        <div>
                                            <h3>SEN TonZ</h3>
                                            <h4>Pro player from Sentinels</h4>
                                            <div class="stars">
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        นี่คือ the best of <strong>Coach</strong>
                                        ฉันรู้สึกถึงพลังที่หลับไหลของฉันหลังจากที่ท่านมหาเทพ Xhi3r
                                        ได้ดึงจิตวิญญาณแห่งเทพสงครามขึ้นมา ทำให้ฉัน ราชาวาโลของ Na กลับมาผงาดอีกครั้ง
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="swiper-slide">
                            <div class="review-wrap">
                                <div class="review-item">
                                    <div class="d-flex align-items-center">
                                        <img src="{{ url_for('static', filename='img/reviews/review_1.png') }}"
                                            class="review-img flex-shrink-0" alt="">
                                        <div>
                                            <h3>SEN TonZ</h3>
                                            <h4>Pro player from Sentinels</h4>
                                            <div class="stars">
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        นี่คือ the best of <strong>Coach</strong>
                                        ฉันรู้สึกถึงพลังที่หลับไหลของฉันหลังจากที่ท่านมหาเทพ Xhi3r
                                        ได้ดึงจิตวิญญาณแห่งเทพสงครามขึ้นมา ทำให้ฉัน ราชาวาโลของ Na กลับมาผงาดอีกครั้ง
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="review-wrap">
                                <div class="review-item">
                                    <div class="d-flex align-items-center">
                                        <img src="{{ url_for('static', filename='img/reviews/review_1.png') }}"
                                            class="review-img flex-shrink-0" alt="">
                                        <div>
                                            <h3>SEN TonZ</h3>
                                            <h4>Pro player from Sentinels</h4>
                                            <div class="stars">
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        นี่คือ the best of <strong>Coach</strong>
                                        ฉันรู้สึกถึงพลังที่หลับไหลของฉันหลังจากที่ท่านมหาเทพ Xhi3r
                                        ได้ดึงจิตวิญญาณแห่งเทพสงครามขึ้นมา ทำให้ฉัน ราชาวาโลของ Na กลับมาผงาดอีกครั้ง
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="review-wrap">
                                <div class="review-item">
                                    <div class="d-flex align-items-center">
                                        <img src="{{ url_for('static', filename='img/reviews/review_1.png') }}"
                                            class="review-img flex-shrink-0" alt="">
                                        <div>
                                            <h3>SEN TonZ</h3>
                                            <h4>Pro player from Sentinels</h4>
                                            <div class="stars">
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        นี่คือ the best of <strong>Coach</strong>
                                        ฉันรู้สึกถึงพลังที่หลับไหลของฉันหลังจากที่ท่านมหาเทพ Xhi3r
                                        ได้ดึงจิตวิญญาณแห่งเทพสงครามขึ้นมา ทำให้ฉัน ราชาวาโลของ Na กลับมาผงาดอีกครั้ง
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>



        <!-- market -->

        <section id="market" class="market">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2>สินค้าและบริการ</h2>
                    <p>รายการสินค้าของมหาเทพตอง</p>
                </div>
            </div>
        </section>



        <!-- team-->
        <section id="team" class="team">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2><strong> Team </strong></h2>
                    <h3>นี่คือเหล่าผู้กล้า ที่จะพาทุกคนออกจากความโง่และดักดาน จงสรรเสริญพวกเขาซะ</h3>
                </div>
            </div>
        </section>


        <!-- course -->
        <section id="course" class="course">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2><strong> Special Course !!!</strong></h2>
                    <p>นี่คือคอร์สสำหรับเจริญสมอง พวกท่านทุกคนควรหาซักแพคเกจที่ต้องการ เพื่อให้สุขภาพชี่วิตของท่านดีขึ้น มั้ง</p>
                </div>
            </div>
        </section>



        <!-- q&a -->
        <section id="faq" class="faq">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2><strong>คำถาม</strong>โง่ๆ บวกสาระนิดหน่อย</h2><p>นี่คือคอร์สสำหรับเจริญสมอง พวกท่านทุกคนควรหาซักแพคเกจที่ต้องการ เพื่อให้สุขภาพชี่วิตของท่านดีขึ้น มั้ง</p>
                </div>
            </div>
        </section>



        <!-- blog -->
        <section id="posts" class="posts sections-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2><strong> Blog </strong></h2>
                    <p>นี่คือคอร์สสำหรับเจริญสมอง พวกท่านทุกคนควรหาซักแพคเกจที่ต้องการ เพื่อให้สุขภาพชี่วิตของท่านดีขึ้น มั้ง</p>
                </div>
            </div>
        </section>



        <!-- contact -->
        <section id="contact" class="contact">

        </section>


    </main>
    <!-- end main-->

    <!-- footer -->
    <section id="footer" class="footer">


    </section>

    <!--arrow up to top-->
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>


    <!-- js -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>